.post {
  h2 {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: .5rem;
    margin-bottom: .8rem;
  }
  hr {
    color: #dee2e6;
    opacity: 1;
  }
  p, li {
    font: 1rem var(--font-serif);
    line-height: 1.65;
  }
  a {
    text-decoration: none;
    word-wrap: break-word;
    word-break: break-word;
    &:hover {
      text-decoration: underline;
    }
  }
  code {
    color: var(--bs-accent);
  }
  pre {
    background: var(--body-color);
    color: var(--body-bg);
    padding: 1rem;
    border-left: 6px solid var(--bs-accent);
    code {
      color: var(--bs-accent);
      background: none;
    }
  }
  blockquote {
    padding: 1.25em 1.5em;
    background: rgba(255, 255, 255, 0.35);
    border-left: 3px solid var(--bs-accent);
    font-size: 1.08rem;
  }
  kbd {
    padding: 0.2rem 0.4rem;
    font-size: 0.875em;
    color: #fff;
    background-color: #212529;
  }
  abbr {
    text-decoration: underline dotted 1px;
    text-underline-offset: .135rem;
    font-weight: bolder;
    &:hover {
      cursor: help;
    }
  }
  em {
    font-style: italic;
    font-weight: bolder;
  }
  small {
    font-weight: 200;
  }
}