// title-list

.title-list {
  .list-group-item {
    &:hover {
      border-top-color: var(--bs-primary);
      box-shadow: 0 5px 18px -5px var(--bs-secondary),
        0 0 5px -3px var(--bs-primary) !important;
      background: var(--bs-primary) !important;
      background-image: var(--bs-gradient);
      color: white;
      .title {
        color: var(--bs-white) !important;
      }
      .date {
        color: var(--bs-light) !important;
      }
    }
    &.disabled,
    &:disabled {
      color: var(--bs-accent-3) !important;
      pointer-events: none;
      background-color: var(--bs-accent-2) !important;
      .title {
        color: var(--bs-accent-3) !important;
      }
    }
  }
}

html[darkmode] {
  .title-list {
    .list-group-item {
      .title {
        color: var(--bs-primary);
      }
      .tag {
        background: var(--bs-accent-1) !important;
      }
    }
  }
}
