// dark mode
html[data-theme="dark"] {
  // Generate dark palettes for theme colors.
  $accent-1: #212529;
  $accent-2: #414850;
  $accent-3: #adb5bd;

  $theme-colors: (
    "accent-1": $accent-1,
    "accent-2": $accent-2,
    "accent-3": $accent-3,
  );

  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }

  // simply switch background & text color
  --#{$variable-prefix}body-color: #{$body-bg};
  --#{$variable-prefix}body-bg: #{$body-color};

  --#{$variable-prefix}body-color-rgb: #{to-rgb($body-bg)};
  --#{$variable-prefix}body-bg-rgb: #{to-rgb($body-color)};

  // miscellaneous cheese
  --shadow-slim: 0 6px 8px rgb(0 0 0 / 8%), 0 1px 1px rgb(0 0 0 / 35%);
}