// Default variable overrides
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


$enable-rounded: false;
$enable-shadows: true;
$enable-gradients: true;


// scss-docs-start root variables
:root {
  --body-bg:          #f1f3f5;
  --body-color:       #343a40;
  --font-serif:       Georgia, serif;
  --font-sans-serif:  'Comfortaa', cursive;
}

$body-bg:                 var(--body-bg);
$body-color:              var(--body-color);
$font-family-serif:       var(--font-serif);
$font-family-sans-serif:  var(--font-sans-serif);
$font-family-base:        $font-family-sans-serif;

@media (prefers-color-scheme: dark) {
  $body-bg: var(--body-color);
  $body-color: var(--body-bg);
}
// scss-docs-end root variables

// scss-docs-start theme-color-variables
$primary:           #20c997;
$primary-dark:        shade-color($primary, 35%);
$primary-light:       tint-color($primary, 85%);
$secondary:         #5e7683;
$secondary-light:     tint-color($secondary, 58%);
$secondary-dark:      shade-color($secondary, 35%);
$success:           #198754;
$info:              #0dcaf0;
$warning:           #ffc107;
$danger:            #dc3545;
$light:             #f8f9fa;
$dark:              #212529;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":          $primary,
  "primary-dark":     $primary-dark,
  "primary-light":    $primary-light,
  "secondary":        $secondary,
  "secondary-dark":   $secondary-dark,
  "secondary-light":  $secondary-light,
  "success":          $success,
  "info":             $info,
  "warning":          $warning,
  "danger":           $danger,
  "light":            $light,
  "dark":             $dark
);
// scss-docs-end theme-colors-map



$box-shadow: 0 6px 8px rgb(85 102 119 / 3%), 0 1px 1px rgb(85 102 119 / 40%);

$input-color:         $body-color;
$input-border-color:  #e9ecef;
$input-border-width:  0;
$input-box-shadow:    $box-shadow;