/* ======================================
 *   Basics 
 * =====================================*/

/* scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--bs-gray);
}
body::-webkit-scrollbar-thumb {
  background: var(--bs-primary);
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

/* user text selection */
::selection {
  background-color: var(--bs-highlight);
  color: var(--bs-light);
}

/* Font styles */
:root {
  --font-serif: #{inspect($font-family-serif)};
}

.font-serif {
  font-family: var(--font-serif);
  line-height: 1.8rem;
}

.container-small {
  max-width: 685px;
  margin-left: auto;
  margin-right: auto;
}

.min-vh-50 {
  min-height: 50vh;
}

.focus {
  border-color: #90e4cb;
  outline: 0;
  box-shadow: 0 6px 8px rgb(85 102 119 / 3%), 0 1px 1px rgb(85 102 119 / 40%),
    0 0 0 0.25rem rgb(32 201 151 / 25%) !important;
}

/* Shadows */
:root {
  --shadow-slim: #{$box-shadow-slim};
}

.shadow-slim {
  box-shadow: var(--shadow-slim);
}

[darkmode] {
  --shadow-slim: 0 6px 8px rgb(0 0 0 / 8%), 0 1px 1px var(--bs-dark);
}

.hover-drop {
  transition: box-shadow 0.18s ease-in-out;
  &:hover {
    box-shadow: 0 6px 24px -8px var(--bs-dark);
  }
}
[darkmode] .hover-drop:hover {
  box-shadow: 0 6px 24px -5px var(--bs-accent-1);
}

/* Headline Braces */
.braces {
  &::before {
    content: "{";
    // font-weight: 800;
    color: rgba(var(--bs-accent-3-rgb), 0.35);
    padding-right: 1rem;
  }
  &::after {
    content: "}";
    color: rgba(var(--bs-accent-3-rgb), 0.35);
    padding-left: 1rem;
  }
}


pre {
  @extend .shadow-slim, .hover-drop;
}

blockquote {
  @extend .blockquote;
}

/* ======================================
 *   About Section 
 * =====================================*/

$about-width: 350px;

#page {
  background: rgba(var(--bs-body-bg-rgb), 91%);
  transition: transform 0.3s ease-out;
}

#about {
  position: fixed;
  top: 0;
  // left: -$about-width;
  left: 0;
  width: $about-width;
  height: 100vh;
  z-index: -1;
  // font-size: 2vh;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  
  .title {
    font-size: 2em;

    div {
      transform: translateX(-25px);
      transition: all 1.8s ease-out;

      &:nth-child(2) {
        transform: translateX(-35px);
      }
      &:nth-child(3) {
        transform: translateX(-45px);
      }
    }
  }
  
  .description {
    dd {
      margin-top: 0.8125rem;
      font-weight: 600;
      // text-transform: capitalize;
    }
    dt {
      font-weight: unset;
      padding-left: 0.5rem;
    }
  }
}

html.no-js,
[open=true] {
  overflow: hidden;
  
  #about {
    // left: 0;
    // z-index: 1;
    opacity: 1;
    transition: opacity 1.5s ease-out;
    
    .title div {
      transform: translateX(0);
    }
  }
}

[open=true] {
  #page {
    width: 100%;
    transform: translate($about-width, 58px);
    position: fixed;
    opacity: 0.8;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(var(--bs-body-bg-rgb), 35%);
      background-image: url(../img/overlay_02.png);
      z-index: 1100;
    }
  }
}
